// colors
$white: #fff;
$black: #333;
$blue: #0275d8;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;
$grey: #777;
$lightgrey: #d3d3d3;

$bg-header: $black;
$color-header: $white;

//size
$h-header: 50px;
$h-tab: 33px;
$border: 3px;
$padding-small: 5px;
$padding-classic: 10px;
$padding-big: 20px;
$height-elem-header: 25px;
