header {
  background: $bg-header;
  color: $color-header;
  height: $h-header;
  display: block;
  position: relative;

  .left {
    height: $h-header;
    float: left;

    .logo {
      $width: $h-header * .8;
      $weight: 5px;

      margin: $h-header * .1;
      display: inline-block;
      float: left;

      .circles {
        width: $width;
        height: $width;
        position: relative;
        perspective: 50000px;
        color: transparent;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 18.4%;
          height: 18.4%;
          border-radius: 100%;
          background: none;
        }

        div {
          position: absolute;
          width: 100%;
          height: 100%;
          border-left: $weight solid;
          border-radius: 100%;

          &.un {
            border-top: $weight solid $red;
          }

          &.deux {
            border-top: $weight solid $yellow;
          }

          &.trois {
            border-top: $weight solid $green;
          }

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              animation: anim-#{$i} 2s linear infinite;
            }
          }
        }
      }

      @for $i from 1 through 3 {
        @keyframes anim-#{$i} {
          from {
            transform: rotateZ(360deg / 3 * $i) rotateX(66deg) rotateZ(0deg);
          }

          to {
            transform: rotateZ(360deg / 3 * $i) rotateX(66deg) rotateZ(360deg);
          }
        }
      }
    }

    h1 {
      display: inline-block;
      float: left;
      height: $h-header * .8;
      margin: $h-header * .1;
    }
  }

  .right {
    height: $h-header;
    float: right;

    .version {
      padding: 5px 10px;
      border: 2px solid $red;
      border-radius: 5px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%) rotateZ(10deg);

      span:first-of-type {
        text-transform: uppercase;

        &::after {
          content: ':';
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    .actions {
      height: $h-header * .6;
      margin: $h-header * .2;

      .config {
        height: 100%;
        font-size: 1.7em;
        margin-right: $padding-big;

        &:hover {
          cursor: pointer;
          color: darken($white, 20);
        }
      }
    }
  }
}
